* {
    box-sizing: border-box;
}

body {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.side-item {
    text-align: center;
}

.side-item .side-image {
    margin: 8px 8px 8px 0;
}

.side-item p {
    margin: 0.1em;
}

.container {
    min-width: 320px;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    text-align: right;
}

.header-text h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0.2em 0;
}

.header-text h4 {
    margin: 0.2em 0;
}

header hr {
    width: 100%;
    color: #7d97ad;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.showcase-container {
    width: 100%;
}

.showcase-container .showcase-image {
    width: 100%;
}

.works-container {
    width: 100%;
}

.works-container h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #7d97ad;
}

.works {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-item {
    text-align: center;
    overflow: hidden;
}

.work-item h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0.2em 0;
}

.work-item p {
    margin: 0.2em 0;
}

.logo-image {
    background-color: mediumorchid;
    width: 64px;
    height: 64px;
}

.side-image {
    width: 64px;
    height: 64px;
}

.showcase-image {
    background-color: chartreuse;
    width: 720px;
    height: 480px;
}

.work-image {
    background-color: aqua;
    width: 240px;
    height: 188px;
}