* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    max-width: 1020px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.side-item {
    width: 12%;
    min-width: 54px;
    max-width: 64px;
    margin: 0.2em;
    text-align: center;
}

.side-item img {
    width: 100%;
}

.side-item p {
    margin: 0.1em;
}

.container {
    width: 100%;
    margin: auto;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-image {
    width: 20%;
    min-width: 64px;
    max-width: 96px;
}

.header-image img {
    width: 100%;
    max-width: 96px;
}

.header-text {
    text-align: right;
}

.header-text h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0.2em 0;
}

.header-text h4 {
    margin: 0.2em 0;
}

header hr {
    width: 100%;
    color: #7d97ad;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.showcase-container {
    width: 100%;
}

.showcase-container img {
    width: 100%;
}

.works-container {
    width: 100%;
}

.works-container h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #7d97ad;
}

.works {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-item {
    min-width: 240px;
    max-width: 320px;
    width: 32%;
    text-align: center;
}

.work-item img {
    width: 100%;
}

.work-item h1 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0.2em 0;
}

.work-item p {
    margin: 0.2em 0;
}


